.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #e0d0d0;
  margin-block: 10px;
  nav {
    display: flex;
    align-items: center;
    gap: 30px;
    a {
      color: aliceblue;
      font-size: 17px;
    }
  }
  h1 {
    color: white;
  }
}
.icons {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 20px;
}
.Footer {
  p {
    text-align: center;
    color: white;
    padding-bottom: 20px;
  }
}
