.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px; 
  border-bottom: 1px solid #e0d0d0;
  margin-block: 10px;
  flex-wrap: wrap; 
  gap: 10px;

  nav {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

    a {
      color: aliceblue;
      font-size: 17px;

      @media (max-width: 650px) {
        font-size: 14px;
      }
    }
  }

  h1 {
    color: white;

    @media (max-width: 650px) {
      font-size: 18px;
    }
  }
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 20px;

  @media (max-width: 650px) {
    font-size: 16px;
    gap: 6px;
  }
}

.Footer {
  p {
    text-align: center;
    color: white;
    padding-bottom: 20px;

    @media (max-width: 650px) {
      font-size: 14px;
      padding-bottom: 12px;
    }
  }
}
