.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding-block: 80px;
}
.content {
  h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 18px 0 16px;
    color: white;
  }

  p {
    font-size: 16px;
    line-height: 1.7;
    color: white;
  }
}

.subtitleWrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 8px 14px;

  p {
    font-size: 19px;
    font-weight: 600;
    color: #ff7a45;
  }

  img {
    width: 50px;
    height: 30px;
  }
}

.images {
  display: flex;
  gap: 24px;
  img {
    transition: 0.5s;
    &:hover {
      transform: translateY(-8px) scale(1.03);
      // box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
    }
  }
}
