.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding-block: 80px;
  padding-inline: 20px;

  @media (max-width: 950px) {
    flex-direction: column;
    gap: 40px;
    padding-block: 60px;
  }

  @media (max-width: 650px) {
    padding-block: 40px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    font-size: 16px;
    width: 360px;
    color: rgba(207, 202, 202, 0.911);
  }
  span{
    color: white;
    font-family: initial;
    width: 260px; 
  }
  h2 {
    width: 420px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    @media (max-width: 950px) {
      font-size: 34px;
    }

    @media (max-width: 650px) {
      font-size: 28px;
    }
  }
}
.subtitleWrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 8px 14px;

  p {
    font-size: 22px;
    font-weight: 600;
    font-family: Shalimar;
    // color: #ff7a45;

    @media (max-width: 650px) {
      font-size: 16px;
    }
  }

  img {
    width: 50px;
    height: 30px;

    @media (max-width: 650px) {
      width: 40px;
      height: 24px;
    }
  }
}

@media (max-width: 512px) {
  .content {
    text-align: center;
    p {
      width: 100%;
      max-width: 120px;
    }
    span {
      color: white;
      font-family: initial;
    }
  }
}
.images {
  display: flex;
  gap: 24px;
  // flex-wrap: wrap;
  justify-content: center;

  img {
    transition: 0.5s;
    width: 100%;
    max-width: 200px;
    height: auto;

    &:hover {
      transform: translateY(-8px) scale(1.03);
    }

    @media (max-width: 650px) {
      max-width: 150px;
    }
  }
}

@media (max-width: 490px) {
  .BestSellers {
    .imagesWrapper {
      .images {
        width: 210px;
        position: relative;
        max-width: 130px;
      }
    }
    .content {
      align-items: center;
      width: 100%;
      h2 {
        width: 100%;
      }
    }
    .icon {
      z-index: 1;
      width: 100px;
    }
  }
}
@media (max-width: 320px) {
  .BestSellers {
    padding: 40px 0;
  }

  .block {
    flex-direction: column;
    gap: 20px;
  }

  .content {
    text-align: center;

    h2 {
      font-size: 20px;
      line-height: 26px;
    }

    p {
      font-size: 12px;
      line-height: 18px;
      // width: 220px;
      text-align: center;
    }
  }

  .subtitleWrapper {
    justify-content: center;

    img {
      width: 40px;
      height: auto;
    }

    p {
      font-size: 12px;
    }
  }

  .imagesWrapper {
    gap: 8px;

    svg {
      font-size: 30px !important;
    }
  }

  .images {
    gap: 8px;

    img {
      width: 140px !important;
      // height: auto !important;
    }
  }
}
