.Modem {
  padding: 100px 20px; 
  color: #fff;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 50px;

    @media (max-width: 650px) {
      flex-direction: column;
      gap: 8px;
    }
  }

  .title {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: #ede7e7;

    @media (max-width: 650px) {
      font-size: 18px;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    grid-template-rows: repeat(2, 240px);
    gap: 20px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @media (max-width: 650px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 15px;
    }
  }

  .item {
    position: relative;
    overflow: hidden;
    border-radius: 14px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.6s ease;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.6)
      );
      opacity: 0;
      transition: 0.4s;
    }

    &:hover img {
      transform: scale(1.1);
    }

    &:hover::after {
      opacity: 1;
    }
  }

  .big {
    grid-row: span 2;

    @media (max-width: 1024px) {
      grid-row: auto;
    }
  }
}
