.Header {
  background: #1f2731;
  padding: 15px 0;
  color: #fff;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }

  h1 {
    color: #fff;
  }

  .nav {
    display: flex;
    gap: 30px;
    flex: 1;
    justify-content: center;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      transition: 0.3s;

      &:hover {
        color: #ef272c;
      }
    }
  }

  .actions {
    display: flex;
    gap: 15px;
    align-items: center;

    .searchWrapper {
      position: relative;

      .searchInput {
        padding: 5px 10px;
        border-radius: 4px;
        border: none;
        background: #ff0000;
        color: white;
      }
      .searchInput::placeholder {
        color: #ffffff;
      }
      .searchResults {
        position: absolute;
        top: 35px;
        left: 0;
        background: #ff0000;
        width: 300px;
        max-height: 300px;
        overflow-y: auto;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 50;

        a {
          display: block;
          padding: 10px;
          border-bottom: 1px solid #ff0000;
          color: #ffffff;

          &:hover {
            background: #ef272c;
            color: #fff;
          }

          h4 {
            margin: 0;
          }

          p {
            margin: 0;
            font-size: 12px;
          }
        }
      }
    }

    .lang {
      background: none;
      padding: 3px 8px;
      color: #fff;
      cursor: pointer;
      border-radius: 3px;
    }
  }
}
