.Header {
  background: #141a20;
  color: white;
}
.icon {
  display: none;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
}

.title {
  font-size: 22px;
  font-family: Silk Serif;
  color: white;
}

.content nav {
  display: flex;
  gap: 30px;
}

.content nav a {
  color: white;
  font-size: 18px;
  text-decoration: none;

  &:hover {
    color: #ef272c;
  }
}

.btn {
  display: flex;
  gap: 15px;
  align-items: center;

  button {
    background: #ef272c;
    color: white;
    border-radius: 10px;
    width: 120px;
    height: 30px;
  }
}

.lang {
  cursor: pointer;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

  span {
    width: 25px;
    height: 3px;
    background: white;
    transition: 0.3s;
  }
}

.active {
  display: flex !important;
}

@media (max-width: 827px) {
  .title {
    font-size: 20px;
  }

  .content nav a {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .content{
    gap:20px;
  }
  .icon {
    display: flex;
    .burger {
      display: flex;
      padding-left: 2px
    }
  }
  .btn {
    padding: 2px;
    span {
      font-family:
        "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-size: 12px;
    }
    button {
      width: 90px;
    }
  }
  .content nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #141a20;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px 0;
    display: none;
  }
}
@media (max-width: 320px) {
  .title {
    font-size: 16px;
  }

  .content nav a {
    font-size: 14px;
  }
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

  span {
    width: 25px;
    height: 3px;
    background: white;
    transition: 0.3s;
  }
}

.content nav.active {
  display: flex;
}

@media (max-width: 320px) {
  .title {
    font-size: 16px;
  }

  .content nav a {
    font-size: 14px;
  }
}
