.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 40px;
    a {
      color: white;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
